<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
http://maven.apache.org/xsd/settings-1.0.0.xsd">

<servers>
  <server>
    <id>ossrh</id>
    <username>caesar0301</username>
    <password>314159</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>ossrh</id>
    <properties>
      <gpg.keyname>07509EEB</gpg.keyname>
      <gpg.defaultKeyring>false</gpg.defaultKeyring>
      <gpg.useagent>true</gpg.useagent>
      <gpg.lockMode>never</gpg.lockMode>
      <gpg.homedir>/Users/chenxm/.gnupg</gpg.homedir>
      <gpg.publicKeyring>/Users/chenxm/.gnupg/pubring.gpg</gpg.publicKeyring>
      <gpg.secretKeyring>/Users/chenxm/.gnupg/secring.gpg</gpg.secretKeyring>
    </properties>
  </profile>
</profiles>

</settings>